# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs und Datenbanken
*.log
*.sqlite

# Projektspezifisch
data/
app/data/
pictures/
app/pictures/
app/config.json
app/config.local.json
*.bak
app/downloads/*
infos.txt

# macOS
.DS_Store
.AppleDouble
.LSOverride
